*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 40px;
}

.caja{
    display:block;
    width: 250px;
    height: 250px;
    background-color: burlywood;
    border: 10px solid cornflowerblue;
    margin: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    padding: 20px;
    float: left;
}

.caja p{
    line-height: 230px;
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

#cajas{
    max-width: 750px;
}



